# https://learn.microsoft.com/zh-cn/dotnet/fundamentals/code-analysis/style-rules/csharp-formatting-options

root = true

[*]
indent_style = space
indent_size = 4
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = false
insert_final_newline = false


[*.cs]
# if (...) {
#     ...
# }
csharp_new_line_before_open_brace = none
# if (...) {
#     ...
# } else {
#     ...
# }
csharp_new_line_before_else = false
# try {
#     ...
# } catch (Exception e) {
#     ...
# }
csharp_new_line_before_catch = false
# try {
#     ...
# } catch (Exception e) {
#     ...
# } finally {
#     ...
# }
csharp_new_line_before_finally = false
# 错误提示,如果不正常可以删掉
dotnet_diagnostic.IDE0055.severity = none
